@using Microsoft.AspNetCore.Identity
@using SPECS_Web_Server.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (this.User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
        </ul>
    }
}
