@{
    ViewData["Title"] = "Create Account";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<center><img src="http://www.serviceplace.org/images/serviceplacelogo.png?crc=292122598"><form method="POST">
    First name: <input type="text" name="fname"><br>
    Last Name: <input type="text" name="lname"><br>
    Email Address: <input type="text" name="uname"><br>
    Password: <input type="text" name="password"><br>
    Retype Password: <input type="text" name="retypePassword"><br>
    Phone Number: <input type="text" name="phoneNumm"><br>
    <input type="submit" value="Create account">
</form></center>