@model SPECS_Web_Server.ViewModels.CreateUser

@{
    ViewData["Title"] = "Create Account";
}
<h3>@ViewData["Message"]</h3>


<center><img src="/images/serviceplacelogo.png">
    <form asp-action="Create_Account" asp-controller="Home">
        Username: <input asp-for="Username"><br /><br />
        First name: <input asp-for="FirstName"><br /><br />
        Last Name: <input asp-for="LastName"><br /><br />
        Email Address: <input asp-for="Email"><br /><br />
        Password: <input asp-for="Password"><br /><br />
        Retype Password: <input asp-for="PasswordRetype"><br /><br />
        Phone Number: <input asp-for="Phone"><br /><br />
        AlexaID: <input id="AlexaID" type="string"><br /><br />
        <button type="submit">Register</button>
    </form>
</center>
