@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>


<center><h2>Welcome to Service Place</h2></center>
<center><img src="http://www.serviceplace.org/images/serviceplacelogo.png?crc=292122598"></center>
<center><form action="/action_page.php">
    Username: <input type="text" name="uname"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Login">
</form></center>
<p>Use this area to provide additional information.</p>
