@{
    ViewData["Title"] = "Login with Amazon";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<center><img src="http://media.corporate-ir.net/media_files/IROL/17/176060/img/logos/amazon_logo_RGB.jpg"></center>
<center>
    <form action="/action_page.php">
        Username: <input type="text" name="uname"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Login">
    </form>
</center>

