@{
    ViewData["Title"] = "About";
}
@using SPECS_Web_Server.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!DOCTYPE html>
<html>
<head>
    <style>
    body { background-image: url("http://www.serviceplace.org/images/dsc_0212.jpg?crc=212741601"); }
        
    </style>
</head>

<body>
    <h2>@ViewData["Title"]</h2>



</body>
</html>




