@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Contact Us:</strong> <a href="mailto:info@serviceplace.org">info@serviceplace.org</a><br />
</address>
