body {
    background-color: #ffff99;
    padding-top: 50px;
    padding-bottom: 25px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img.h{
    border: 10px solid ghostwhite;
}

p.h {
    font-style: oblique;
    font-size: 350%;
    font-family: Times New Roman;
    font-weight: 300;
}

hr {
    border-width: 4px;
    border-color: snow;
    background-color: snow;
}