@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #ffff99;
        }


        p {
            font-family: Arial;
            font-size: 150%;
            color: #993333;
        }
        .Button {
            background-color: #cc9900;
            border: none;
            color: ghostwhite;
            padding: 16px 32px;
            text-decoration: none;
            font-family: lato;
            font-weight: bold;
            margin: 8px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 120%;
            width: 10%;
        }

        .textbox {
            width: 30%;
            padding: 1px 20px;
            box-sizing: border-box;
            border: 1px;
            border-radius: 4px;
            margin: 8px;
        }
    </style>
</head>

<body>
    <h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="textbox" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="Button">Submit</button>
            </form>
        
    </div>
</body>
</html>